@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.281);
    width: 40%;
    float: right;

    position: relative;

    right: 0%;

    font-family: 'Itim';

    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.slideIn{
    animation-name: slideIn;
}

.slideOut{
    animation-name: slideOut;
}


@keyframes slideIn {
    0% { right: -40%; }
    100% { right: 0%; }
}

@keyframes slideOut {
    0% { right: 0%; }
    100% { right: -40%; }
}