.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.281);
    width: 40%;
    float: right;

    position: relative;

    right: -40%;

    transition: right 1s;

    overflow:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    z-index: 69420;
}

.container::-webkit-scrollbar{
    display: none;
}

.slideOut{
    right: -40%;
}

.slideIn{
   right: 0%;
}

