@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.navBar{
    background-color: rgba(0, 0, 0, 0.281);

    font-family: 'Itim';
    font-size: 24px;
}


.fishPedButt{
    margin: 20px;

}

.accButts{
    
    display: flex;
    flex-direction: row;
}

.accButts>*{
    margin: 20px;
}

.points{
    margin: 20px;
    position: relative;
    left: 10%;
}

.meters{
    text-align: center;
}
