.ship{
    display: flex;
    float: left;
    width: 300px;
    position: absolute;
    
    bottom: 350px;
    left: 10vh;
    transform: scalex(-1);
    z-index: -1;
    opacity: 1;
    animation-name: idle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 0ms;
}

@keyframes idle {
    0% {rotate: 5deg;}
    100% {rotate: -5deg;}
}