.wavesContainer{
    display: flex;
    flex-direction: row;
    
}

.bigContainer{
    display: flex;
    position: relative;
}

img{
    position: relative;
    z-index: 1;
    opacity: 0.8;
    user-select: none;
}